* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: black;
}

body {
    background-color: #f7f7f2;
    /*#e6e5e0*/
    margin: 0;
}

.app-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f7f7f2;
    padding: 20px 40px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    gap: 20px;
}

.nav-link {
    margin: 0 1.5rem;
    color: #1e1e24;
    font-weight: 500;
    transition: all 0.6s;
    text-decoration: none;
}

.nav-link:hover {
    transform: translateY(-5px);
}

main {
    padding-top: 100px;
}

section {
    padding: 40px 60px;
}

html {
    scroll-behavior: smooth;
}

.section-title {
    display: flex;
    justify-content: center;
}


/* Intro Header */
.intro-header {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    gap: 2rem;
    align-items: center;
    padding: 0rem 5rem 4rem 5rem;
    height: 100vh;
}

.intro-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-image img {
    width: 100%;
    height: auto;
    max-width: 350px;
}

.intro-text h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.intro-text h3 {
    position: relative;
    padding-left: 6rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.intro-text h3::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: #1e1e24;
    left: 0;
    top: 1rem;
}

.intro-text p {
    margin-bottom: 2rem;
}

.intro-btns {
    display: flex;
    gap: 10px;
}

.btn {
    display: inline-block;
    width: fit-content;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #f7f7f2;
    border: 1px solid #1e1e24;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    background: #1e1e24;
    transition: all 0.5s;
}

.btn:hover {
    background: #f7f7f2;
    color: #1e1e24;
    transform: translateY(5px);
}

.socials-icons {
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-right: 50px;
    gap: 1.2rem;
}

.socials-icons a {
    color: #1e1e24;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

.socials-icons a:hover {
    transform: scale(1.2);
}


/* About Me */
.about-text {
    margin: 30px 150px;
    text-align: center;
}


/* Skills */
.skills-section {
    margin: 30px 150px;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.skills-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    height: 100%;
}

.skills-item h5 {
    color: #f7f7f2;
    text-align: center;
}

.skills-icon {
    width: 50px;
    height: 50px;
}

.custom-spotlight-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
    width: 125px;
    height: 125px;
}




/* Projects */
.projects-card {
    width: 100%;
    display: inline-block;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.card {
    width: 350px;
    height: 400px;
    display: inline-block;
    justify-content: center;
    align-items: top;
    border-radius: 20px;

    background: #f7f7f2;
    /*#494949*/
}

.content img {
    width: 300px;
    border: 0.2px solid;
    border-radius: 10px;
    height: auto;
}

.card .content {
    align-items: center;
    padding: 30px;
}

.card .content h2 {
    color: #1e1e24;
    font-size: 22px;
    line-height: 2em;
}

.card .content p {
    color: #1e1e24;
    font-size: 14px;
    padding-left: 5px;
}

.card .content a {
    position: relative;
    display: inline-block;
    background-color: #1e1e24;
    font-size: 12px;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #f7f7f2;
}